.git
.github
.gitignore
.env
.env.example
.env.*.local
.editorconfig
.phpactor.json
.phpunit.result.cache
.vscode
.DS_Store
*.log
README.md
DOKPLOY_ENV.md
docker-compose.yml
Dockerfile.dev
.cursor
.idea
.nova
.zed
node_modules
/storage/logs
/storage/pail
/bootstrap/cache
/tests
/storage/debugbar
